/* Box sizing rules */
    *,
    *::before,
    *::after {
    box-sizing: border-box; 
}
/* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
    margin: 0; 
    }
/*Annoucement bar*/
    .topbar{
        display: flex;
        flex-wrap: wrap;
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
        height: 58px;
        background: #000000;
     }

    .topbar-text{
        height: 17px;
        left: 555px;
        bottom: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
     }

     /* Header */
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 138px;
        background: #10504F;
    }
    .header__center{
        display: flex;
        text-align: center;
        justify-content: center;
        flex: 2;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .slick-dots li.slick-active button:before{
        color: #fff;
    }
    .slick-next {
        right: 40px;
    }
    .slick-prev {
        left: 2% !important;
        z-index: 1;
      }
    .slick-next {
        right: 3% !important;
        z-index: 1;
      }
    .slick-prev:before, .slick-next:before{
          font-size: 40px !important;
      }
    .bm-burger-bars{
        background: #fff;
    }
    .bm-menu{
        background: #0b3837;
    }
    .header__center ul, li {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 0 1rem;
        align-items: center;
        justify-content: center;
    }
    .header__center ul li:hover{
        color: lightgray;
    }
    .header__right svg:hover{
        color: lightgray;
    }
    .header__right{
        display: flex;
        justify-content: right;
        align-self: center;
        padding-left: 3rem;
        padding-right: 1rem;
    }
    .header__left{
        display: flex;
        padding: 2rem 2rem 2rem 4rem;
    }

    .header__left img{
        width: 100%;
        height: 100%;
    }
    svg{
        color: #fff; 
        margin: 0 .5rem;
        cursor: pointer;
    }
    /* Heroslide */
        .hero{
            width: 1440px;
            height: 638px;
            left: 0px;
            top: 0px;
                    }
      .hero-image{ 
            width: 100%;
            height: auto;
            left: 0px;
            top: 193px;
         }
         .head-text {
            position: relative;
            display: flex;
         }
         .text-on-image {
            display: flex;
            position: absolute;
            flex-direction: column;
            bottom: 25%;
            flex-wrap: wrap;
            padding: 0 15rem 0 2rem;
            align-items: flex-start;
            text-align: center;
         }

         .text-on-image h1{  
            font-family: Pacifico;
            font-style: normal;
            font-weight: normal;
            font-size: 60px;
            line-height: 105px;
            color: #10504F;
        }


        .text-on-image p {  
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 31px;
            color: #10504F;
     }

     .text-on-image button{  
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background: #000;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0.5rem 1.5rem;
        margin: 1rem 0;
     }
     .text-on-image button:hover{ 
        background: #fff;
        color: #10504F;
     }
     .slick-dots{
         bottom: 12px;
     }
     .slick-dots li button:before{
         font-size: 10px;
     }
     .slick-prev:before, .slick-next:before{
         color: #000;
         z-index: 999; 
         width: 75px; 
     }

     .bm-burger-bars{
        height: 5% !important;
    }

    /* Collections */
    .collection-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 4rem;
    }
 
    .collection{
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        flex: 1;
        transition: all 0.6s ease-in-out;
       
    }
    

    .collection-image img{
        object-fit: contain;
    }

    .collection-title{
        background: #10504F;
        color: #fff;
        font-family: Pacifico;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 70px;
        text-align: center;
        margin-top: -22px;
        width: 100%;
    }
    .collection-image {
    width: 100%;
    }

    /* Product Slider */
    .product-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 2rem;
    }

    .product-header{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 105px;
    text-align: center;
    color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    }
    .product-image {
    display: flex;
    justify-content: center;
    }

    .product-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: .5rem;
    color: #000000;
    }
    .product-collection{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    }
    .product-price{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
    color: #10504F;

    }
    /* Bottom Banner */
    .banner-text-on-image{
        display: flex;
        position: absolute;
        flex-direction: column;
        bottom: 40%;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: end;
        align-items: flex-end;
        right: 55px;
    }

    .banner-text-on-image h1{  
        font-family: Pacifico;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 105px;
        color: #fff;
    }


    .banner-text-on-image p {  
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        color: #fff;
 }

 .banner-text-on-image button{  
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background: #10504F;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff ;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
 }
 .banner-text-on-image button:hover{ 
    background: #fff;
    color: #10504F;
 }



    /* Newsletter */
    .news-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #10504F;
        padding: 1rem 2rem;
    }

    .news-title svg{
        font-size: 40px;
    }
    .news-title{
        font-family: 'Pacifico';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 70px;
        text-align: center;
        color: #FFFFFF;
    }

    .news-text{
        display: flex;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        padding: 1rem;
    }
    .news-text p{
        width: 50%;
    }
    .news-input{
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .news-wrapper button{  
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        background: #10504F;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #fff ;
        padding: 0.5rem 1.5rem;
        margin: 1rem 0;
        border: 2px solid #FFFFFF
     }
     .news-wrapper button:hover{ 
        background: #fff;
        color: #10504F;
     }

     .news-input input {
        padding: 0.3rem;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #C6C6C6;
        width: 75%;
    }
    

    /* Footer */


        /* All media queries below */
    @media only screen and (max-width: 550px) {
        .header__center{
            display: none;
        }
        .bm-burger-button{
            position: absolute;
            display: flex;
            left: 24px;
            top: 104px;
        }
      
    }
    @media only screen and (min-width: 550px) {
    .bm-burger-button{
        display: none;
     }

    }

    @media only screen and (max-width: 660px) {
        .collection:last-child img{
            height: 350px;
            object-fit: cover;
        }
    }

    @media only screen and (min-width: 750px) {
    
         .collection:hover{
            transform: scale(1.1);
            transition: all 0.6s ease-in-out;
            transition-delay: 50ms;
         }
      
        }

    @media only screen and (max-width: 760px) {
        .text-on-image{
            display: flex;
            position: inherit;
            flex-direction: column;
            bottom: 25%;
            flex-wrap: wrap;
            padding: 1rem;
            align-items: center;
            background: #EFEFEF;
        }
        .banner-text-on-image{
            display: flex;
            position: initial;
            flex-direction: column;
            bottom: 25%;
            flex-wrap: wrap;
            padding: 1rem;
            align-items: center;
            background: #EFEFEF;
        }
        .slick-dots{
            bottom: 250px;
        }

        .collection{
            padding: .5rem .2rem;
        }
        .collection:last-child {
            flex-basis: fit-content;
            justify-content: center;
        }
        .collection > .collection-image:last-child {
            width: 100%;
            height: 300px;
        }
        .collection-wrapper {
            padding: 1rem 1rem;
        }
        .header__center{
            font-size: 16px;
        }
        .collection-title{
            font-size: 30px;
        }
  
        .head-text {
            display: block;
         }
         .news-input input{
           display: none;
        }
        .news-text{
            flex-direction: column;
            align-items: center;
        }
        .news-text p{
             width: 100%;
             text-align: center;
             padding: 0.5rem 2rem;
        }
        .news-wrapper button{
            padding: .5rem 2rem;
        }
        .news-input{
            padding: 2rem;
        }

       
    }

    @media only screen and (max-width: 900px){
        .news-input input{
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 550px) {
     
            .text-on-image h1 {
               font-size: 50px; 
        
            }
            .text-on-image p {
                font-size: 20px;
            }
      
        }

        @media only screen and (max-width: 440px) {
            .slick-dots{
            bottom: 280px;
            }
            .text-on-image h1 {
            font-size: 48px; 
            line-height: 75px;
                }

            .text-on-image p {
            font-size: 18px;
                }
          
            }