.header{
    display: flex;
    flex-wrap:wrap;
}
.header__center{
    display: flex;
    text-align: center;
    justify-content: center;
    flex: 2;
}
.header__center ul, li {
display: flex;
cursor: pointer;
padding: 0 1rem;
align-items: center;
justify-content: center;
}
.header__center ul li:hover{
    color: gray;
}
.header__right{
    
    display: flex;
    justify-content: right;
    align-self: center;
    padding: 0 12px;
}
.header__left{
   
}
svg{
    padding: 10px; 
    cursor: pointer;
}
