/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; 
}


/*Annoucement bar*/
    .topbar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 58px;
        background: #000000;
     }

    .topbar-text{
        height: 17px;
        left: 555px;
        bottom: 20px;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #FFFFFF;
                    }
            /* Header */

    .header{
        display: flex;
        justify-content: center;
        height: 138px;
        background: #10504F;
    }
    .header__center{
        display: flex;
        text-align: center;
        justify-content: center;
        flex: 2;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .header__center ul, li {
    display: flex;
    cursor: pointer;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    }
    .header__center ul li:hover{
        color: gray;
    }
    .header__right{
        display: flex;
        justify-content: right;
        align-self: center;
        padding-left: 3rem;
    }
    .header__left{
        display: flex;
        padding: 2rem 2rem;
    }

    .header__left img{
        width: 93px;
        height: 77px;
    }
    svg{
        color: #fff; 
        margin: 0 .5rem;
        cursor: pointer;
    }

    /* Heroslide */
        .hero{
            width: 1440px;
            height: 638px;
            left: 0px;
            top: 0px;
                    }

      .hero-image{ 
            width: 1440px;
            height: 638px;
            left: 0px;
            top: 193px;
         }

    /* Collections */

    /* Product Slider */


    /* Bottom Banner */


    /* Newsletter */

    /* Footer */